.chat {
    display: flex;
    margin: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
    cursor: pointer;



   

    .info {
        margin-left: 10px;

    }

    p {
        color: gray;
        font-size: small;
        margin-bottom: 10px;
    }
}

hr {
    font-size: 0.5px;
    height: 0px;
}